/*********************************************
GENERAL
*********************************************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

form {
    background-color: #f0eceb;
    width: 480px;
    margin: auto;
}

fieldset {
    border: 0;
    padding-left: 40px;
}

/*********************************************
BODY: HEADERS/LEGENDS
*********************************************/

h1 {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px

}

legend {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 15px;
}

.number {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: .5em;
    line-height: 21px;
    margin-right: 10px;
    margin-top: 3px;
    float: left; 
}

.secondary_header {
    font-weight: 500;
    display: block;
}

.tertiary_header {
    font-size: .65em;
}

.checkbox_text {
    font-size: .5em;
    font-weight: 500;
}

.images_secondary_header {
    margin-bottom: -3px;
}

.supplemental_text_secondary_header {
    line-height: .5;
}

.institution_secondary_header {
    margin-top: 5px;
}

.email_secondary_header {
    margin-top: .25em;
}

/*********************************************
BODY: INPUTS/BUTTONS
*********************************************/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
    display: block;
    width: 75%;
    height: 25px;
    margin-top: 1%;   
}

#story,
#supplemental_text {
    height: 60px;
    margin-bottom: 1.5%;
}

input[type="file"] {
    margin: 2px 0;
}

#image_three {
    margin-bottom: 7px;
}

#supplemental_file_one,
#supplemental_file_two {
    display: block;
    margin: 3px 0;
}

button {
    height: 40px;
    width: 100px;
    width: 100%;
    margin-top: 4%;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    font-size: 1.25em;
    
}

/*
.checkbox_column_one {
    float: left;
    display: inline-block;
}

.checkbox_column_two {
    float: right;
    display: inline-block;
}
*/

/*********************************************
BODY: OTHER TEXT
*********************************************/

.image_tips {
    font-weight: 500;
    font-size: .25em;
}


/*********************************************
COLORS
*********************************************/

legend {
    color: #729f98;
}

.number {
    background-color: #283018;
    color: #f0eceb;
}

.secondary_header {
    color: #aa863a;
}

.tertiary_header {
    color: #729f98;
}

.image_tips {
    color: #283018;
}

.checkbox_text {
    color: #283018;
}

h1 {
    color: #283018;    
}

button {
    background-color: #729f98;
    color: #f0eceb;
}

/*********************************************
FIXES
*********************************************/

.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
}



